@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: 'Montserrat', sans-serif;
    }
    * {
        box-sizing: border-box;
    }
}

@layer components {
    .logo {
        color: black;
        /* Text color */
        text-shadow: -1px -1px 0px white, /* Top left */
        1px -1px 0px white, /* Top right */
        -1px 1px 0px white, /* Bottom left */
        1px 1px 0px white;
        /* Bottom right */
        letter-spacing: 3px;
    }
    .hero {
        background-image: url('Group 19.png');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about {
        background-image: url('about.jpg');
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: relative;
    }
    .about::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        background: linear-gradient( to left, rgba(255, 255, 255, 1) 52%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
    }
    @media (max-width: 768px) {
        .hero {
            background-attachment: scroll;
            background-position: center;
        }
        .about::before {
            background: linear-gradient(to left, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
        }
    }
    @media (max-width: 1280px) {
        .hero {
            background-attachment: scroll;
            background-position: center;
        }
        .about::before {
            background: linear-gradient( to left, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
        }
    }
    .advantages {
        background-image: url('Group 19.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        background-attachment: fixed;
    }
    .socials {
        background-image: url('Group 19.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        background-attachment: fixed;
    }
    .reviews {
        background-image: url('Group 19.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        background-attachment: fixed;
    }
    @media (max-width: 1024px) {
        .socials {
            background-attachment: scroll;
            background-position: center;
        }
        .advantages {
            background-attachment: scroll;
        }
        .about::before {
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        .socials {
            background-attachment: scroll;
            background-position: center;
        }
        .advantages {
            background-attachment: scroll;
        }
        .about::before {
            width: 100%;
            background-color: white;
        }
    }
    /* Services.css */
    .service-icon {
        color: #ffffff;
    }
    .container {
        width: 90%;
        max-width: 1200px;
    }
    .service-item {
        transition: all 0.3s ease-in-out;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .service-item:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }
    .service-item .service-icon-container {
        font-size: 36px;
        color: #4a90e2;
    }
    h3 {
        font-size: 1.25rem;
        font-weight: 600;
    }
    p {
        font-size: 1rem;
        color: #666;
    }
    /* ServiceItem.css */
    .service-icon {
        font-size: 36px;
        color: #4a90e2;
        margin-bottom: 10px;
    }
    .service-item {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }
    .service-item:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }
    .service-item h3 {
        color: #2f2f2f;
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .service-item p {
        color: #777;
        font-size: 1rem;
    }
}

@layer utilities {
    .container {
        margin: 0 auto;
    }
    .active {
        position: relative;
    }
    .active::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #d60100;
    }
    .active-navbar {
        top: 0;
    }
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    @media (max-width: 576px) {
        .container {
            padding: 0 15px;
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
    @media (min-width: 1400px) {
        .container {
            max-width: 1320px;
        }
    }
    @media (min-width: 1536px) {
        .container {
            max-width: 1440px;
        }
    }
}

.advantage-item {
    transition: transform 0.3s ease;
}

.advantage-item:hover {
    transform: scale(1.05);
}